.board {
    padding: 30px;
    margin: 50px 200px;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
}

.text {
    font-size: 1.6rem;
}

.dpWidth {
   width: 100%;
}